@mixin button-blue {
    background: rgb(27,74,140);
    background: linear-gradient(270deg, rgba(27,74,140,1) 0%, rgba(24,86,149,1) 16%, rgba(8,149,197,1) 100%);
}

@mixin button-orange {
    background: rgb(188,42,110);
    background: linear-gradient(90deg, rgba(188,42,110,1) 0%, rgba(198,52,109,1) 16%, rgba(243,93,107,1) 100%);
}