$bg-blue: #0b1851;
$bg-button-orange: linear-gradient(90deg, rgba(188,42,110,1) 0%, rgba(198,52,109,1) 16%, rgba(243,93,107,1) 100%);
$bg-button-blue: linear-gradient(270deg, rgba(27,74,140,1) 0%, rgba(24,86,149,1) 16%, rgba(8,149,197,1) 100%);
$text-white: #fefefe;
$text-orange: #f04358;
$fs-sm: 18px;