$bg-blue: #030434;
$bg-white: #FFFFFF;
$bg-linear-orange: linear-gradient(90deg, rgba(188,42,110,1) 0%, rgba(198,52,109,1) 5%, rgba(243,93,107,1) 100%);
$bg-linear-lightblue: linear-gradient(270deg, rgba(27,74,140,1) 0%, rgba(24,86,149,1) 16%, rgba(8,149,197,1) 100%);
$bg-linear-orange-180dg: linear-gradient(180deg, rgba(188,42,110,1) 0%, rgba(198,52,109,1) 5%, rgba(243,93,107,1) 100%);
$bg-linear-lightblue-0dg: linear-gradient(0deg, rgba(27,74,140,1) 0%, rgba(24,86,149,1) 16%, rgba(8,149,197,1) 100%);
$text-white: #fefefe;
$text-black: #000000;
$text-orange: #f04358;
$text-lightgrey: #E0E0E0;
$text-grey: #818A91;
$text-red: #f9636B;
$text-lightblue: #03A7D3E6;
$fs-sm: 18px;
$fs-xl: 48px;
$fs-xxl: 55px;